{% extends 'quiz/base.html' %}

{% block content %}
<div class="container-fluid">
<h2>quiz list:</h2>

<div class="list-group">
    {% for quiz in quiz_list %}
    <a href="{% url 'quiz:quiz-take' quiz.id %}" class="list-group-item">{{ quiz.quiz_name }}</a>
        {% endfor %}

</div>
    {% if user.is_superuser %}
<a href="{% url 'quiz:quiz-create' %}" class="btn btn-info" role="button">create quiz</a>
    {% endif %}
{% endblock content %}
</div>