{% extends 'quiz/base.html' %}
{% block content %}
{% if user.is_superuser %}
{% load static %}

<style>
    .answer input {
        vertical-align: middle;
    }

</style>
<div class="container-fluid">
    <div>
        <div id="quizContainer" class="container-fluid">

            <h2>Create Quiz with name <input id="quizName" type="text" class="form-control" aria-label="Default"
                                             aria-describedby="inputGroup-sizing-default">
            </h2>
            <span class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Add Question</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#" onclick="addQuestion('checkbox')">Add Checkbox Question</a></li>
      <li><a class="dropdown-item" href="#" onclick="addQuestion('radio')">Add Radiobutton Question</a></li>
      <li><a class="dropdown-item" href="#" onclick="addQuestion('text')">Add Free Question</a></li>
    </ul>
</span>
        </div>
        <button class="btn btn-success btn-block" onclick="sendRequest()"> FINISH</button>
    </div>
</div>

<!--hoidden template for adding radio button and checkbox questions-->
<script id="hidden-template-QSTN-RB-CB" type="text/x-custom-template">
    <div id="{0}" class="question" type="{1}">
        <hr>
        <span class="input-group ">
        <span class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">question text:</span>
        </span>
        <input type="text" class="question form-control" id="basic-url" aria-describedby="basic-addon3">
        <button type="button" class="btn deleteBtn" onclick="deleteThing(this)"><code>DEL</code></button>  </span>
        <button class="btn btn-primary" id="answerAdd" onclick="addAnswer('{0}','{1}')">add answer</button>
    </div>
</script>
<!--hidden template for adding text questions-->
<script id="hidden-template-QSTN-TXT" type="text/x-custom-template">
    <div id="{0}" type="{1}" class=\"question\">
        <hr>
        <span class="form-group">
        <label for="exampleTextarea" class="bmd-label-floating">input your open question</label>
        <textarea type="open" class="form-control question" id="exampleTextarea" rows="3"></textarea>
    </span>
        <br>
        <span class="input-group mb-3">
           <span class="input-group-prepend">
               <span class="input-group-text" id="basic-addon3">answer text:</span>
           </span>
           <input type="text" class="answerText form-control" id="basic-url" aria-describedby="basic-addon3">
       </span>
    </div>
    <hr>
</script>

<script id="hidden-template-ANSW" type="text/x-custom-template">
    <div class="input-group mb-3">
        <span class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">correct?</span>
            <span class="input-group-text" id="basic-addon3"><input id="{1}" class="answer" type="{0}"
                                                                    name="{1}"></span>
            <span class="form-group">
                <label for="lol" class="bmd-label-floating">choice text</label>
                <input type="text" class="answerText form-control" id="lol" aria-describedby="basic-addon3">
            </span>
                <button type="button" class="btn deleteBtn" onclick="deleteThing(this)"><code>DEL</code></button>
        </span>
    </div>
</script>


<script type="text/javascript" src = "{% static 'quiz/quiz_create.js' %}"></script>
{% else %}
<p>PEMISSiON DENIED</p>
{% endif %}

{% endblock content %}
