{% extends 'quiz/base.html' %}
{% load utils %}

{% block content %}
{% for question in user_result.quiz.question_set.all %}
{% with answers_dict|get_value_from_dict:question.id as usr_ans %}

<div>question{{question.id}}:</div>
<div>{{question.question_text }}</div>
<div>your answer {{usr_ans}}</div>
<div>correct answer is {{question.correct_ans_as_list}}</div>

{% with usr_ans|compare_lists:question.correct_ans_as_list as is_corr %}

{% if is_corr %}
<p>AWESOME</p>
{% else %}
<p>WRONG</p>
{% endif %}

{% endwith %}
{% endwith %}

{% endfor %}
<h2>YOUR SCORE IS {{user_result.score}}</h2>
{% endblock content %}
